$primary-color:#242424;
$primary-border:#1F1F1F;
$primary-bg: rgba(15, 15, 15, 1);
$error-bg:#E50000;
$secondary-dark:#0F0F0F;
$secindary-border:#262626;
$secondary-bg:#262626;
$post-icon-bg:#141414;
$post-text-color:#999999;
$footer-bg:rgba(15, 15, 15, 1);
$hr:rgba(38, 38, 38, 1);
$footer-text-color:rgba(153, 153, 153, 1);